################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MealMentor/MealMentor.API/appsettings.json
